<div class="container-header">
  <!-- <i class="icon-close" ui-sref="create"></i> -->
</div>
<div class="container-body has-footer">
  <div class="page about animated slideInDown">
    <img src="./img/logo.png" class="logo animated bounce infinite" />
    <h1 class="title animated rubberBand infinite">Best Wishes</h1>
    <p>Greet your loved ones by creating your own website link in a matter of seconds. A new way to send your best wishes.</p>
    <p>Want to create one? Download our app from playstore.</p>
    <a href='https://goo.gl/prWoyc'><img alt='Get it on Google Play' src='./img/googleplay.png' class="playstore animated infinite pulse" /></a>
  </div>
</div>
<div class="container-footer animated bounceInUp">
  <div class="version">Version 1.2.0</div>
  <div class="creator">
    <a href="http://www.thelittletechie.com" target="_blank"><span class="animated infinite pulse"><i class="icon-heart"></i></span> Vivin </a>
  </div>
</div>
