<div class="container-body has-footer">
  <div class="page about animated slideInDown">
    <div class="logo-official logo">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <h1 class="title animated rubberBand infinite"><span>Best Wishes</span></h1>
    <p>Greet your loved ones by creating your own website link in a matter of seconds. A unique way to send your best wishes.</p>
    <p>Want to create one? Download our app from playstore.</p>
    <a href='https://goo.gl/prWoyc'><img alt='Get it on Google Play' src='./img/googleplay.png' class="playstore animated infinite pulse" /></a>
  </div>
</div>
<div class="container-footer animated bounceInUp">
  <div class="version">Version 1.3.0</div>
  <div class="creator">
    <a href="http://www.thelittletechie.com" target="_blank"><span class="animated infinite pulse"><i class="icon-heart"></i></span> Vivin </a>
  </div>
</div>
