<div class="container-header">
  <i class="fa fa-bars fa-2x fa-inverse" ui-sref="about"></i>
</div>
<div class="container-body">
  <div class="page home-page">
    <img src="./img/logo.png" class="logo" />
    <h1>{{title}}</h1>
    <form ng-submit="create(wishes)">
      <select ng-model="wishes.event">
        <option value="birthday">Birthday</option>
        <option value="newyear">New Year</option>
        <option value="pongal">Pongal</option>
        <option value="valentine">Valentines Day</option>
      </select>
      <div>
        <input type="checkbox" ng-model="wishes.adv" ng-true-value="1" ng-false-value="0" /> I want to wish in advance
      </div>
      <input type="text" placeholder="Wishes from" ng-model="wishes.from" ng-trim="false" maxlength="15" restrict-field="wishes.from" required />
      <input type="text" placeholder="Wishes to" ng-model="wishes.to" ng-trim="false" maxlength="15" restrict-field="wishes.to" required />
      <button>Create</button>
    </form>
  </div>
</div>
