<div class="container-header">
  <i class="fa fa-bars fa-2x fa-inverse" ui-sref="about"></i>
</div>
<div class="container-body">
  <div class="page home-page">
    <img src="./img/logo.png" class="logo" />
    <h1>{{title}}</h1>
    <form ng-submit="create(wishes)">
      <select ng-model="wishes.event">
        <option value="birthday">Birthday</option>
        <option value="newyear">New Year</option>
        <option value="pongal">Pongal</option>
        <option value="valentine">Valentines Day</option>
      </select>
      <div>
        <input type="checkbox" ng-model="wishes.adv" ng-true-value="1" ng-false-value="0" /> I want to wish in advance
      </div>
      <input type="text" placeholder="Wishes from" ng-model="wishes.from" ng-trim="false" maxlength="15" restrict-field="wishes.from" required />
      <input type="text" placeholder="Wishes to" ng-model="wishes.to" ng-trim="false" maxlength="15" restrict-field="wishes.to" required />
      <button>Create</button>
    </form>
    <div class="creator" style="display: none">
      <a href="http://www.thelittletechie.com" target="_blank"><i class="fa fa-heart"></i> Vivin </a>
    </div>
    <a href='https://play.google.com/store/apps/details?id=com.thelittletechie.bestwishes'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="width: 200px" /></a>
  </div>
</div>
