<div class="container-header">
  <div ng-include="'partials/header.html'"></div>
</div>
<div class="container-body">
  <div class="page love">
    <div class="event">{{wishes.name}}</div>
    <div class="graphics event">
      <i class="fa fa-heart"></i>
    </div>
    <div class="event">{{wishes.toname}}</div>
    <div class="quotes">{{wishes.quotes}}
      <div>- {{wishes.name}}</div>
    </div>
  </div>
</div>
<div class="container-footer">
  <div ng-include="'partials/footer.html'"></div>
</div>
