<div class="container-header">
  <div ng-include="'partials/header.html'"></div>
</div>
<div class="container-body has-header has-footer">
  <div class="page newyear animated bounceInRight">
    <div class="wisher">{{wishes.to | uppercase}}</div>
    <div class="wishing">{{wishes.wishing}}</div>
    <div class="event" ng-if="wishes.adv == 1"><small>Advance</small></div>
    <div class="event">{{wishes.event}}</div>
    <div class="graphics">
      <div class="plate">
        <div class="bottle">
          <div class="cork"></div>
          <div class="neck"></div>
          <div class="body">
            <div class="label"></div>
            <div class="label-shadow"></div>
          </div>
        </div>
        <div class="glass">
          <div class="bowl">
            <div class="wine"></div>
          </div>
          <div class="stem"></div>
          <div class="foot"></div>
        </div>
      </div>
    </div>
    <div class="quotes">{{wishes.quotes}}
      <div>- <strong>{{wishes.from}}</strong></div>
    </div>
  </div>
</div>
<div class="container-footer">
  <div ng-include="'partials/footer.html'"></div>
</div>
